body {
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/bg-intro-mobile.png);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}

header {
  color: white;
}

.input {
  width: 300px;
  height: 52px;
  margin: 20px 0 7px 0;
  border: 1px solid hsl(243, 34%, 61%);
  border-radius: 8px;
  border-width: 1px;
  font-size: 16px;
}

input:focus {
  border: 1px;
  border-color: hsl(249, 10%, 26%) ;
}

input::placeholder {
  color: #8e8aa7;
  font-weight: 600;
  padding: 19px;
}

.heading > h1 {
  margin: 50px 10px 0px 10px;
  padding: 9px;
  font-size: 25px;
}

.heading > p {
  margin: 20px 20px 0 20px;
  font-size: 14px;
}

.card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(248, 32%, 49%);
  margin: 40px 20px 20px 20px ;
  padding: 0px 60px;
  color: hsl(246, 25%, 77%);
  border-radius: 10px;
  box-shadow: 0px 9px 1px 0px rgb(0 0 0 / 15%);
}

.card-one > p > span {
  color: white;
  font-weight: 700;
  margin-top: 20px;
}

.card-two {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
}

.error-icon {
  position: absolute;
  top: 36px;
  right: 10px;
  display: none;
}

.error-message {
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  position: absolute;
  left: 155px;
  top: 70px;
  display: none;
}

.input-submit {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1rem;
  height: 52px;
  width: 300px;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0px 4px 0px 0px rgb(32, 179, 112);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  text-transform: uppercase;
}

.input-submit:hover {
  cursor: pointer;
  background-color: #77e2b4;
  box-shadow: 0px 4px 0px 0px rgba(109,204,162,1);
}

#terms {
  font-size: 12px;
  color: hsl(246, 25%, 77%);
  margin: 20px;
  font-size: 12px;
  font-weight: 600;
}

#terms span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: row;
    column-gap: 75px;
  }

  header {
    text-align: left;
  }

  .heading {
    position: relative;
    top: 100px;
  }

  .heading > h1 {
    font-size: 40px;
    width: 400px;
  }

  .heading > p {
    font-size: 16px;
    width: 450px;
  }

  .card-one {
    position: relative;
    top: 150px;
  }

  .card-two {
    position: relative;
    top: 160px;
    width: 600px;
  }

  .input {
    width: 500px;
  }

  .error-message {
    left: 350px;
  }
}